/* Style the video: 100% width and height to cover the entire window */
.video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

body {
    margin: 0;
    font-family: "Arial", sans-serif;
    min-height: calc(666px + 75px);
    background: url('images/background.png');
    background-size: cover;
}

body > div {
    box-sizing: content-box;
}

.blend-in {
    opacity: 1;
    transition: opacity 1.5s ease-in-out 4s;
}

.loading .blend-in {
    opacity: 0;
}

#video-narrow,
#control-narrow {
    display: none;
}

header {
    height: 75px;
    width: 96vw;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2vw;
    background: url('images/logo.svg') top right no-repeat;
    background-size: contain;
    z-index: 1000;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: calc(100vw - 100px);
    padding: 20px 80px 20px 20px;
}

#footer {
    display: none;
}

@font-face {
    font-family: "Bebas Neue";
    src: url(./fonts/BebasNeueRegular.otf);
}

@font-face {
    font-family: "Hoop Demo";
    src: url(./fonts/Hoop_Regular_Demo.otf);
}

.title {
    width: 96vw;
    padding: 10px 2vw;
    color: white;
    text-align: center;
    margin-top: 160px;
    background: rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 5px;
    font-family: "Bebas Neue", "Arial", sans-serif;
}

h2 {
    letter-spacing: 3px;
    font-family: "Bebas Neue", "Arial", sans-serif;
}

/* Style the button used to pause/play the video */
.control {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.control:hover {
    background: #ddd;
    color: black;
}

form.helio-subscribe {
    margin: 15px 0;
    max-width: 800px;
}

form.helio-subscribe button,
form.helio-subscribe input {
    background: transparent;
    border: white solid 2px;
}

form.helio-subscribe input {
    width: 75%;
    height: 40px;
    padding: .375rem .75rem;
    margin-bottom: 8px;
    color: white;
}
form.helio-subscribe input:focus {
    outline: 0;
}
form.helio-subscribe input::placeholder {
    color: white;
}

form.helio-subscribe button {
    width: calc(25% + .25rem);
    min-width: 180px;
    margin-left: -.25rem;
    background-color: white;
    color: black;

}

a:link {
    color: white;
    text-decoration: none;
    opacity: 0.9;
}

a:hover {
    opacity: 0.7;
    text-decoration: none;
}





@media (max-aspect-ratio: 1/1) {

    #video-wide,
    #control-wide {
        display: none;
    }

    #video-narrow,
    #control-narrow {
        display: initial;
    }
}

@media (min-width: 800px) {
    .content-video {
        min-width: 800px;
        max-width: calc((100vh - 250px) * 4 / 3);
    }
}

@media (max-width: 733px) {
    form.helio-subscribe button,
    form.helio-subscribe input {
        width: 100%;
        margin-left: 0;
        display: block;
    }
}